<%= simple_form_for @pin do |f|%>
	<% if @pin.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@pin.errors.count, "error") %>
				prevented pin from saving
			</h2>
			<ul>
				<% @pin.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :image %><br>
		<%= f.input_field :image, class: "form_control" %>
	</p>
	<p>
		<%= f.label :title %><br>
		<%= f.input_field :title, class: "form_control" %>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.input_field :description, class: "form_control" %>
	</p>
	<p>
		<%= f.button :submit %>
	</p>

<% end %>